@tailwind base;
@tailwind components;
@tailwind utilities;

#background {
  z-index: -1;
  background-image: url('/background-sky-green.png');
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center;
}

#foreground {
  z-index: 1;
  background-image: url('/foreground-green.png');
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center;
  /* filter: drop-shadow(0 0 5px rgba(55,55,55,.3)); */
}

#about {
  z-index: 2;
  background-image: url('/background-about-texture.jpeg');
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#banner {
  z-index: 1;
  background-image: url('/background-banner-black.jpg');
  /* background-size: 100%; */
  background-position: center;
  background-attachment: fixed;
}




@media (min-width: 1792px) {
  #banner {
    background-size: 150%;
  }
}

@media (max-width: 1791px) {
  #banner {
    background-size: 180%;
  }
}

@media (max-width: 1535px) {
  #banner {
    background-size: 100%;
  }
}

@media (max-width: 1023px) {
  #banner {
    background-size: 130%;
  }
}

@media (max-width: 766px) {
  #banner {
    background-size: 160%;
  }
}

@media (max-width: 639px) {
  #banner {
    background-size: 270%;
  }
}




@font-face {
  font-family: 'PoppinsLight';
  src: url('./fonts/poppins-font/files/poppins-latin-200.woff');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins-font/files/poppins-latin-300.woff');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('./fonts/poppins-font/files/poppins-latin-400.woff');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('./fonts/poppins-font/files/poppins-latin-500.woff');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('./fonts/poppins-font/files/poppins-latin-600.woff');
}



.gradient-text {
  background-image: linear-gradient(to right, #78ffd6, #007991);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  height: 85px;
}




/* About container descriptors animation */
@keyframes faded0 {
  0% { opacity: 0; }
  33% { opacity: 1; }
  66% { opacity: 1; }
  100% { opacity: 0;}
}

.animated-text-0 {
  animation: faded0 6s ease-in-out infinite;
}

@keyframes faded1 {
  0% { opacity: 0; }
  33% { opacity: 1; }
  66% { opacity: 1; }
  100% { opacity: 0;}
}

.animated-text-1 {
  animation: faded1 6s ease-in-out infinite;
}

@keyframes faded2 {
  0% { opacity: 0; }
  33% { opacity: 1; }
  66% { opacity: 1; }
  100% { opacity: 0;}
}

.animated-text-2 {
  animation: faded2 6s ease-in-out infinite;
}
