@tailwind base;
@tailwind components;
@tailwind utilities;

#background {
  z-index: -1;
  background-image: url('/background24.jpg');
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center;
}

#foreground {
  z-index: 1;
  background-image: url('/background24-foreground.png');
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center;
}

#about {
  z-index: 2;
  background-image: url('/about-background.png');
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: 'PoppinsLight';
  src: url('./fonts/poppins-font/files/poppins-latin-200.woff');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins-font/files/poppins-latin-300.woff');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('./fonts/poppins-font/files/poppins-latin-500.woff');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('./fonts/poppins-font/files/poppins-latin-600.woff');
}
