@tailwind base;
@tailwind components;
@tailwind utilities;

#background {
  z-index: -1;
  background-image: url('/background-sky-green.png');
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center;
}

#foreground {
  z-index: 1;
  background-image: url('/foreground-green.png');
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center;
  /* filter: drop-shadow(0 0 5px rgba(55,55,55,.3)); */
}

#about {
  z-index: 2;
  background-image: url('/background-about-texture.jpeg');
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#banner {
  z-index: 1;
  background-image: url('/background-banner-black.jpg');
  /* background-size: 100%; */
  background-position: center;
  background-attachment: fixed;
}




/* Breakpoints */
@media (min-width: 1792px) {
  #banner {
    background-size: 150%;
  }
}

@media (max-width: 1791px) {
  #banner {
    background-size: 180%;
  }
}

@media (max-width: 1535px) {
  #banner {
    background-size: 200%;
    height: 845px;
  }
}

@media (max-width: 1279px) {
  #banner {
    background-size: 240%;
    height: 703px;
  }
}

@media (max-width: 1023px) {
  #banner {
    background-size: 310%;
    height: 562px;
  }
}

@media (max-width: 766px) {
  #banner {
    background-size: 350%;
    height: 421px;
  }
}

@media (max-width: 639px) {
  #banner {
    background-size: 440%;
  }
}

@media (max-width: 514px) {
  #banner {
    background-size: 590%;
  }
}



/* Fonts */
@font-face {
  font-family: 'PoppinsLight';
  src: url('./fonts/poppins-font/files/poppins-latin-200.woff');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins-font/files/poppins-latin-300.woff');
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('./fonts/poppins-font/files/poppins-latin-400.woff');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: url('./fonts/poppins-font/files/poppins-latin-500.woff');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('./fonts/poppins-font/files/poppins-latin-600.woff');
}




/* Project footer on hover */
.project-card-container {
  overflow: hidden;
}

.project-footer {
  transition: all 0.2s;
  height: 0;
}

.project-card-container:hover .project-footer {
  height: 15%;
}




/* Caret for more information on project cards */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid;
  color: white;
}

@media (max-width: 1535px) {
  .caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid;
  }
}




/* Gradient text */
.gradient-text {
  background-image: linear-gradient(to right, #78ffd6, #007991);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  height: 85px;
}

/* Breakpoints for controlling the space between the two text lines in the banner */
@media (max-width: 1023px) {
  .gradient-text {
    height: 55px;
  }
}

@media (max-width: 639px) {
  .gradient-text {
    height: 35px;
  }
}

@media (max-width: 427px) {
  .gradient-text {
    height: 70px;
  }
}




/* About container - cycling professional titles animation */
@keyframes faded0 {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0;}
}

.animated-text-0 {
  animation: faded0 6s ease-in-out infinite;
}

@keyframes faded1 {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0;}
}

.animated-text-1 {
  animation: faded1 6s ease-in-out infinite;
}

@keyframes faded2 {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0;}
}

.animated-text-2 {
  animation: faded2 6s ease-in-out infinite;
}
